#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}
#chat-screen .alt-header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
    
}

#chat-screen .status-bar {
    z-index: 1;
    background-color: #abc1d1;
}
.main-chat {
    margin-top: 120px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}
.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}
.message__author {
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}
.message__bubble {
    background-color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 30%;
    border-top-left-radius: 0;
    margin-right: 5px;
    font-weight: 500;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__time {
    color: grey;
    font-size: 14px;
}
.message-row__own {
    justify-content: flex-end;
}
.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 0;
    margin-left: 5px;
}
.message-row__own .message__info {
    flex-direction: row-reverse;
}
.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
}
.reply .reply__column:first-child {
    width: 10%;
}
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}
.reply i{
    opacity: 0.5;
}
.reply input {
    padding: 10px;
    height: 30px;
    width: 100%;
    border: var(--main-border);
    border-radius: 25px;
    font-size: 18px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -15px;
    top: 2px;
}
.reply__column:last-child > i {
    right: 40px;
    top: 2px;
}
.reply__column button {
    background-color: var(--yellow);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
}
.reply__column button i {
    opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
    outline: none;
}