#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -15px;
    background-color: var(--background-color);
}
#friends-display-link i {
    
    color: var(--main-color);
    margin: 0px 3px;
}
.friends-screen {
    padding: 0px var(--horizontal-space);
    margin-top: 100px;
    height: 100vh;
}
.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}
.friends-screen__channel .user-component {
    margin-bottom: 15px;
}
.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen {
    background-color: var(--green);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    animation: hideSplashScreen 1s ease-in-out forwards;
    animation-delay: 0.5s;
    z-index: 2;
}
@keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
        transform: scale(1);
        animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

#splash-screen i {
    color: wheat;
    animation: bounce-in-fwd 1.1s both;
}
