
.settings-list {
    padding-bottom: 15px;
    border-bottom: var(--main-border);
    
}
.settings-list:last-child {
    margin-bottom: 80px;
}
.settings__setting {
    padding: 20px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s linear;
}
.settings__setting:hover {
    color: var(--main-color);
    transform: scale(1.1);
    justify-content: space-around;
}
.settings__setting:nth-last-child(n+2) {
    border-bottom: 1px solid var(--main-gray);
}
.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

.setting-mark {
    margin-left: 5px;
    font-size: 12px;
    color: var(--white);
    background-color: tomato;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: 600;
}