.nav {
    background-color: #f9f9fa;
    padding: 20px 40px;
    border-top: var(--main-border);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative;
}
.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.red-dot {
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 25px;
}